<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator
           (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <h2>Reactive FORMS !</h2>
      <!--  START    -->
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <!-- Project INPUT SECTION-->
        <div class="form-group">
        <label for="projectName">Project Name: </label>
        <input type="text" id="projectName" class="form-control"
               formControlName="projectName" />
        </div>

<!--  ERROR MESSAGE FOR PROJECT NAME AND FORBIDDEN TEXT      -->

        <span *ngIf="!myForm.get('projectName').valid &&
         myForm.get('projectName').touched"
              class="help-block">

          <span *ngIf="myForm.get('projectName')
          .hasError('validator')">
            This text is forbidden!
          </span>

          <span *ngIf=" myForm.get('projectName').hasError('required')">
            Project name filed should not be empty!
          </span>

        </span>

        <!--Project STATUS DROPDOWN SECTION -->
        <div class="form-group">
        <label for="dropdown">Select an option: </label>
          <select class="form-control" id="dropdown">
            <option  *ngFor="let status of projectStatus"
                     [value]="status">{{status}}</option>

          </select>

        </div>
        <!-- Mail INPUT SECTION -->
        <div class="form-group">
          <label for="email">Enter your Email: </label>
          <input type="text" id="email" class="form-control"
                 formControlName="email" />
        </div>

        <span
          *ngIf="!myForm.get('email').valid &&
         myForm.get('email').touched"
          class="help-block">
          Email input filed should not be empty!
        </span>
        <!-- Submit BUTTON SECTION-->
        <button [disabled]="!myForm.valid"
                [ngClass]="{'btn-danger':!myForm.valid,'btn-success':myForm.valid}"
                class="btn">Submit</button>

      </form>
    </div>
  </div>
</div>
